<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  
  <!-- BootstrapのCSSを読み込む -->
  <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" %>
  

</head>

<body>
<%= render 'shared/sidemenu' %>

  <main class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <%= yield %>
  </main>

  <!-- BootstrapのJavaScriptを読み込む -->
  <%= javascript_include_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" %>
</body>